@model AboutViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.About.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Abouts)
        {
            <tr>
                <td >
                   <img  src="~/uploads/@item.Photo" style="width:150px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger deletebtn"asp-action="Delete" onclick="confirm()" asp-controller="Abouts" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>


